


.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared styles */
.secondary-bg{
    background-color: #FFF8F3;
}
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.btn-primary  {
    background-color: #FD6E0A;
    font-size: 20px;
    color: white;
    font-weight: bold;
    padding: 18px 35px;
    border-radius: 5px;
    border:none ;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19)

}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color:#757575;
}
.text-center{
    text-align: center;
}


/* header styles */
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}

/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 200px;
}
.banner-content{
    max-width: 580px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
}
.banner-description{
    color: #757575;
}
.banner-profile-pic{
    width: 580px;
}

/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

/* about */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    box-shadow: 15px 15px 20px 20px   #757575
}
.about-items{
    display: flex;
    justify-content: space-around;
    border: 2px solid #757575 ;
    border-radius: 5px;
}
.item-description{
    font-weight: 600;
    
}

/* skills style */
.skills{
    border-radius: 10px;
    box-shadow: 15px 15px 20px 20px   #757575
}
.skill-upper{
    padding: 10px 25px 10px 25px;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px; 
   
}